@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/*----------*/
/*----Navebar style Start------*/
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.menu li a {
    text-decoration: none;
}

.logo a {
    text-decoration: none;
}

.navber {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: monospace;
    z-index: 999;
    transition: all 0.3s ease;
}


.sticky {
    padding: 15px 0;
    background: red;
    color: aqua;
}



.navber .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*-----Logo img------*/
.logo img {
    width: 200px;
    height: 50px;
}

.navber .logo a {
    color: aliceblue;
    font-size: 35px;
    font-weight: 600;
}

.navber .logo a span {
    color: red;
}


.navber .menu li {
    list-style: none;
    display: inline-block;
    margin-top: 10px;
}


.navber .menu li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navber .menu li a:hover {
    color: #d6d5f5;
}


/*---------menu-btn style Start-------------*/
.menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*---------menu-btn style End--------------*/

/*========== scrool-up-btn start ===========*/



#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 4px;
}




.scrool-up-btn .show {
    opacity: 1;
    bottom: 30px;
    pointer-events: auto;
}

/*========== scrool-up-btn End ============*/



/*----Navebar style End------*/



/*----------Home Section Style Start--------------*/
.home {
    display: flex;
    background: url("../img/background-img.jpg");
    height: 100vh;
    color: #fff;
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1400px 130vh;
    min-height: 500px;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-container .text-1 {
    font-size: 27px;
    margin-left: 5px;
}

.home .home-container a {
    display: inline-block;
    background: red;
    color: white;
    font-size: 22px;
    padding: 12px 36px;
    border-radius: 8px;
    margin-top: 20px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-container a:hover {
    color: crimson;
    background: none;
}

.home .home-container .text-2 {
    font-size: 75px;
    font-weight: 500;
    /* margin-left: 30px; */
}

.home .home-container .text-3 {
    font-size: 40px;
    margin: 11px 6px;
}

.home .home-container .text-3 span {
    color: red;
    font-weight: 500;
}


/*----------Home Section Style End--------------*/

/*------all similar content styling coad- Start----------*/


section {
    padding: 1px 0px;
}

.about,
.services,
.skills,
.teams {
    font-family: inherit;
}

.about .about-container,
.services .serv-container,
.skills .skills-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

section .title {
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
    font-weight: 500;
    margin-top: 5%;
}

section .title::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 4px;
    bottom: 0px;
    left: 50%;
    background: black;
    transform: translateX(-50%)
}

section .title::after {
    position: absolute;
    bottom: -11px;
    left: 50%;
    padding: 5px;
    background: white;
    font-size: 20px;
    color: red;
    transform: translateX(-50%)
}

/*------all similar content styling coad- End----------*/


/*----------About Section Style Start--------------*/





.about .title::after {
    content: "Who i am";
}


.about .about-container .left {
    width: 30%;
}

.about .about-container .left img {
    width: 240px;
    height: 250px;
    /*    object-fit: cover;*/
    border-radius: 6px;
}

.about .about-container .right {
    width: 65%;
}




.about .about-container .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-container .text span {
    color: red;
}

.about .about-container .right p {
    text-align: justify;
}

.about .about-container .right a {
    display: inline-block;
    background: red;
    color: #fff;
    font-size: 20px;
    padding: 1px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-container .right a:hover {
    color: crimson;
    background: none;
}

.about-container p {
    font-size: 16px;
    font-family: cursive;
}

/*----------About Section Style End--------------*/


/*----------services Section Style start--------------*/
.services,
.teams {
    color: white;
    background: #111;

}

.services .title::before,
.teams .title::before {
    background: white;
}

.services .title::after,
.teams .title::after {
    background: #111;
    content: "what i provide";
}

.services .serv-container .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
}

.services .serv-container .card:hover {
    background: crimson;
}

.services .serv-container .card .box {
    transition: all 0.3s ease;
}

.services .serv-container .card :hover i {
    color: white;
}

.services .serv-container .card:hover .box {
    transform: scale(1.05);
}


.services .serv-container .card i {
    font-size: 45px;
    color: red;
}

.services .serv-container .card .text {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/*----------Services Section Style End--------------*/


/*--------------Skills section styling start------------------*/

.skills .title::after {
    content: "what i know";
}

.skills .skills-content .colum {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: red;
    color: #fff;
    font-size: 15px;
    padding: 3px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color: red;
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

.skills-content .right .html::before {
    width: 90%;
}

.skills-content .right .css::before {
    width: 60%;
}

.skills-content .right .js::before {
    width: 70%;
}

.skills-content .right .php::before {
    width: 50%;
}

.skills-content .right .sql::before {
    width: 70%;
}

/*--------------Skills section styling End------------------*/

/*------------teams Section start--------------*/

.teams .title::after {
    content: "who with me"
}

.teams .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
}

.teams .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid red;
}





.tems_all img {
    width: 110px;
    height: 110px;
    border: 5px solid red;
    border-radius: 50%;
}

.box.tems_all:hover img {
    border-color: white;
}




/* text-align: center; */

/*-------------teams Section End----------------*/

/*------------------------------------------------------------------------------*/
/*-------------contact Style Start------------*/

.contact .title::after {
    content: "get in touch";
}

.contact .contact-contact .colum {
    width: calc(50% - 30px);
}

.contact .contact-contact .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-contact .left p {
    text-align: justify;
}

.contact .contact-contact .left .icons {
    margin: 10px 0px;
}

.contact .contact-contact .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-contact .row .info {
    margin-left: 25px;
}

.contact .contact-contact .row i {
    font-size: 25px;
    color: red;
}

.contact .contact-contact .left .info .head {
    font-weight: 500;
}

.contact .contact-contact .info .sub-title {
    color: #333;
}



.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}



.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid red;
    background: red;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: red;
    background: none;
}








/*exta prince coding*/
.all_form_width {
    width: 100%;
    height: auto;
}

.all_form_width_left {
    width: 50%;
    float: left;
    height: auto;
}

.all_form_width_right {
    width: 50%;
    height: auto;
    float: right;
}

.con-sec {
    display: inline-block;
        
}


/*-------------contact Style End------------*/

/*Footer Start*/

footer {
    background: balck;
    padding: 20px 22px;
    margin-left: 43%
}

footer span a {
    color: red;
}

footer span {}

/*Footer End*/
